.card-color{
    width: auto;
    height: 130px;
    border: solid 0.1px gray;
    background-color: #BFE5F7;
    margin: 20px 20px 0px;
    border-radius: 16px;
}

.card{
    background-color: #DDDEDE;
    width: 28rem;
    border-radius: 30px;
}

.nav-container{
    margin-left: 20px;
    justify-content: space-between;
}


.nav-link{
    color: black;
}

.nav-right{
    margin-right: 20px;
}

.price-span{
    font-size: 12px;
}

.price-container{
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
}

.card-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    border-radius: 16px;
    color: black;
}

.btn-primary{
    width: 15rem;
    border-color: #9FC2D5;
    background-color: #9FC2D5;
}

.btn-secondary{
    border-color: #D7D8D9;
    background-color: #D7D8D9;
    font-size: 10px;
    width: 10rem;
    height: 1rem;
}

