body{
    background-color:  #C6CACC;
}

.card{
    width: 28rem;
    border-radius: 30px;
}

.in-container{
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    background-color: #BFE5F7;
}

.title{
    font-size: 8rem;
}


.in-primary-title{
    color: white;
    font-family: 'Cambria';
    margin-left: 30px;
}

.in-primary-container{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    flex-direction: column;
}

.row-2{
    margin-top: 20px;
}

.card-color{
    width: auto;
    height: 130px;
    border: solid 0.1px gray;
    background-color: #BFE5F7;
    margin: 20px 20px 0px;
    border-radius: 16px;
}

.in-cards{
    margin-top: 10rem;
}

.row-mt-2{
    margin-top: 2rem;
}

